@keyframes infinite-scroll {
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation-name: infinite-scroll;
  animation-duration: var(--animation-duration, 40s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--animation-direction, forwards);
  will-change: transform;
}
